<html>


<head>
    <title>3方游戏注单</title>



    <script src="{{ url_for('static',filename ='jquery.min.js') }}" type="text/javascript" ></script>
    <script src="{{ url_for('static',filename ='dialog.js') }}" type="text/javascript" ></script>
    <script src="{{ url_for('static',filename ='zepto.min.js') }}" type="text/javascript" ></script>
<!--    <script src="static/jquery.min.js" type="text/javascript" ></script>-->
<!--    <script src="static/dialog.js" type="text/javascript" ></script>-->
<!--    <script src="static/zepto.min.js" type="text/javascript" ></script>-->

<!--    <link rel="stylesheet" href="static/dialog.css">-->
    <link rel="stylesheet" href="{{ url_for('static',filename ='dialog.css') }}">
</head>
<style>
    table
    {
        border-collapse: collapse;
        /*margin: 0 auto;*/
        text-align: left;
    }
    table td, table th
    {
        border: 1px solid #cad9ea;
        color: #666;
        height: 30px;
    }
    table thead th
    {
        background-color: #CCE8EB;
        width: 100px;
    }
    table tr:nth-child(odd)
    {
        background: #fff;
    }
    table tr:nth-child(even) {
        background: #F5FAFA;
    }

    .portlet {
        border:1px solid #ff0000;
        margin:5px;
    }

</style>

<body>
    <div>
            <div style="float: left ;padding-right: 15px" >
                <table    id="base_config" style="" >

                </table>
                <br/>
            </div>

            <div >
                <table  id="game_list">

                </table>
            </div>

            <div style="padding-top: 20px">
                user_login_token:<span id="user_login_token"></span>
            </div>


            <div><input type="button" onclick="run()" value="运行测试用例" /></div>
    </div>

    <br/>

    <div>
        <table id="run_res" >


        </table>
    </div>

    <br/><br/>

</body>

<script>
    var host = "http://127.0.0.1:4444/"
    var config = null;
    function getCommonHeader( ){
        var now =  Math.round(new Date().getTime()/1000).toString();
        var header = {
            "X-Client-Req-Time":now,
        }
        return header;
    }

    function getConfig(){
        url = host + "get_config"
        request(getConfigCallback,url,"",false,"GET",null,null);
    }

    function run(){
        var req_host = $("#req_host").val();
        var tenant_id = $("#tenant_id").val();
        var platform_code = $("#platform_code").val();
        var user_login_account = $("#user_login_account").val();
        var user_login_ps = $("#user_login_ps").val();
        var schemes = $("#schemes").val();

        if (!user_login_account){
            return alert("user_login_account empty");
        }

        data = {
            "req_host":req_host,
            "tenant_id":tenant_id,
            "platform_code":platform_code,
            "user_login_account":user_login_account,
            "user_login_ps":user_login_ps,
            "schemes":schemes,
        }

        url = host + "run"
        jsonData = JSON.stringify(data)
        console.log(jsonData)
        request(runCallback,url,"",false,"POST",jsonData,null);
    }

    function runCallback(data){
        console.log("runCallback:",data)

        var content = "            <tr>\n" +
            "               <td>id</td> <td>desc</td> <td>http-code</td> <td>buss-code</td>\n" +
            "                <td>buss-data</td> <td>buss-msg</td><td>buss-error</td>\n" +
            "              <td>操作</td>\n" +
            "            </tr>";

        for (var i in data){
            row = data[i]
            console.log("data row:",row)


            if ( !('bussData' in row) || !row.bussData ){
                continue
            }

            errorInfo = "-";
            if ( 'error' in row.bussData){
               errorInfo =  row.bussData.error
            }

            msg = "-";
            if ( 'msg' in row.bussData){
               msg =  row.bussData.msg
            }

            if (i == "user_login"){
                $("#user_login_token").html(data.user_login.bussData.data.token);
            }


            var bussDataContent = "";
            if ( typeof ( row.bussData.data) != "undefined"){
                var bussData = row.bussData.data
                for (var i in bussData){
                    var tdStr = bussData[i];
                    if(typeof(bussData[i]) == "string"&& bussData[i].length > 50){
                        tdStr = bussData[i].substring(0,50) + "..."
                    }
                    bussDataContent += i + ":"+tdStr+ "<br/>"
                }
            }

            // reqResStr = JSON.stringify(row.reqRes);
            reqResStr = formatReqObj(row.reqRes);
            console.log("reqResStr:",reqResStr)
            // showWinContent = "";


            content+= "<tr>";
            content+=   "<td>"+i+"</td>";
            content+=    "<td>"+row.name+"</td>"
            content+=    "<td>"+row.reqRes.http_res_code+"</td>"
            content+=    "<td>"+row.bussData.code+"</td>"
            content+=    "<td>"+bussDataContent+"</td>"
            content+=    "<td>"+msg+"</td>"
            content+=     "<td>"+errorInfo+"</td>"
            content+=    "<td>"
            content+=        "<input type='button' value='请求日志' onclick=\"showWin('"+row.name+"','"+reqResStr+"')\" />"
            content+=    "</td>"
           content += "</tr>";
        }

        console.log("content:",content)
        $("#run_res").html(content);

    }



    function getConfigCallback(data){
        console.log("getConfigCallback:",data)
        config = data;

        var selectContent = "<select id='tenant_id'>";
        for (var i in config.tenant){
           var selected = ""
            if ( i == "10049223"){
                selected = "selected";
            }
            selectContent += "<option "+selected+" value='"+i+"'>"+config.tenant[i]+"</option>"
        }
        selectContent += "</select>";


        var platformContent = "<select id='platform_code'>";
        // console.log(config.platform)
        for (var i in config.platform){
            platformContent += "<option value='"+i+"'>"+i +"-" + config.platform[i].platform_code +"</option>"
        }
        platformContent += "</select>";

        var hostContent = "<select id='req_host'>";
        // console.log(config.host)
        for (var i in config.host){
            hostContent += "<option value='"+config.host[i]+"'>"+config.host[i] +"</option>"
        }
        hostContent += "</select>";


        var schemesContent = "<select id='schemes'>";
        console.log(config.schemes)
        for (var i in config.schemes){
            schemesContent += "<option value='"+config.schemes[i]+"'>"+config.schemes[i] +"</option>"
        }
        schemesContent += "</select>";



        var content =
            "<tr><th>当前动态设置：</th></tr>"+
            "<tr><td>登陆账号</td><td> <input type='text' id='user_login_account' value='11911111180' /> </td></tr>"+
            "<tr><td>登陆密码</td><td> <input type='text' id='user_login_ps' /> </td></tr>"+
            "<tr><td>host</td><td> "+hostContent+"</td></tr>"+
            "<tr><td>平台</td><td> "+platformContent+"</td></tr>"+
            "<tr><td>schemes</td><td> "+schemesContent+"</td></tr>"+
            "<tr><td>tenant</td><td> "+selectContent+"</td></tr>";

        $("#base_config").html(content);

        var gameListHtml = "<tr><th>国家</th><th>名称</th><th>game_id</th><th>game_code</th></tr>";
        var gameList = data.game_list;
        for (var i in gameList){
            gameListHtml += "<tr><td>" +i + "</td><td>" + gameList[i].name + "</td><td>"+gameList[i].game_id+"</td><td>"+gameList[i].game_code+"</td></tr>"
        }
        console.log("gameList:",gameList)


        $("#game_list").html(gameListHtml);
    }

    function request(callback,httpUrl,useToken,async,httpMethod,httpData,uriReplace) {
        $.ajax({
            headers: getCommonHeader(),
            type: httpMethod,
            data: httpData,
            url: httpUrl,
            // dataType: "json",
            contentType: "application/json;charset=utf-8",
            async: async,
            success: function (data) {
                console.log("http request : back data:", data);
                data = eval("("+data+")")
                if (data.code != 200) {
                    return alert("server back err:" + data.msg);
                }

                callback(data.data);
            }
        });
    }

    function formatUnixTime(us){
        if (us <= 0 ){
            return "--";
        }

        var tims = new Date(us*1000);
        var format = tims.toLocaleString()
        return format;
    }

    getConfig()

</script>

<script>

    function formatReqObj(reqObj){
        console.log("reqObj:",reqObj)

        var formatReqObjStr = '<table>';
        formatReqObjStr += "<tr><td>url</td><td>"+reqObj.url+"</td></tr>"
        formatReqObjStr += "<tr><td>method</td><td>"+reqObj.method+"</td></tr>"
        formatReqObjStr += "<tr><td></td><td></td></tr>"
        h = reqObj.headers
        console.log("header:",h)
        for (var i in h){
            formatReqObjStr += "<tr><td>"+i+"</td><td>"+h[i]+"</td></tr>"
        }
        formatReqObjStr += "<tr><td></td><td></td></tr>"

        data = reqObj.data
        console.log("data:",data)
        for (var i in data){
            formatReqObjStr += "<tr><td>"+i+"</td><td>"+data[i]+"</td></tr>"
        }

        formatReqObjStr +='</table>'

        return formatReqObjStr;
    }

    function  showWin(title,reqResObjStr){
        console.log("reqResObjStr:",reqResObjStr)
        // rr = reqResObjStr.replaceAll("'", '"');
        // rr = rr.replaceAll("True", 'true');
        // rr = rr.replaceAll("False", 'false');

        // reqObj = eval("("+reqResObjStr + ")")
        // console.log(reqObj)
        //
        // content = '<table>';
        // content += "<tr><td>url</td><td>"+reqObj.url+"</td></tr>"
        // content += "<tr><td>method</td><td>"+reqObj.method+"</td></tr>"
        // content += "<tr><td></td><td></td></tr>"
        // h = reqObj.headers
        // console.log("header:",h)
        // for (var i in h){
        //     content += "<tr><td>"+i+"</td><td>"+h[i]+"</td></tr>"
        // }
        // content += "<tr><td></td><td></td></tr>"
        //
        // data = reqObj.data
        // console.log("data:",data)
        // for (var i in data){
        //     content += "<tr><td>"+i+"</td><td>"+data[i]+"</td></tr>"
        // }
        //
        // content +='</table>'

        $.dialog({
            titleText : title,
            // contentHtml : '<p>'+content+'</p>'
            contentHtml : '<p>'+reqResObjStr+'</p>'
        });
    }


</script>



</html>